*{
    box-sizing: border-box;
}

html{
    font-family: 'Bai Jamjuree', sans-serif;
}


body{
    height: 100%;
    margin: 0;
    width: 100%;
}


#content{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#top{
    background-image: url('imgs/bg-header-mobile.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    
 
}


#top_items{
    display: flex;
    flex-direction: column;
    max-width: 399px;
    align-items: center;
    margin-top: 8rem;
}

.logo{
    width: 8rem;
    margin-bottom: 3rem;
}

.text{
    text-align: center;
}

.top_text{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #4C545C;
    margin-bottom: 1rem;
}

.top_text_grey{
    line-height: 2rem;
    font-size: 1.1rem;
    color: #9EABB2;
    padding: 0rem 1.2rem 0rem 1.2rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}

.button_link{
    color: white;
    border-radius: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    width: 300px;
    text-align: center;

    
    
}

.turq{
    background-color: #26BBA4;
    margin-bottom: 1rem;
    border-bottom: 3px solid #167567;
}

.purp{
    background-color: #6174FF;
    border-bottom: 3px solid #3749d3;
}

#section2{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 3rem;
   
   
    
}

#section2_items{
    max-width: 399px;
  
}

.small_section_head{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #4C545C;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.small_section_para{
    line-height: 2rem;
    font-size: 1.1rem;
    color: #9EABB2;
    padding: 0rem 1.2rem 0rem 1.2rem;
}

.img_and_stats{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.computer{
    width: 19rem;
    margin-bottom: 2rem;
}

.stats{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat{
    margin-top: 3rem;
}

.stat h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #4C545C;
    margin-bottom: 1rem;
}


#section3{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 60vh;
    margin-top: 4rem;
   
    
}

#section3_items{
    max-width: 399px;
    
}

.section_3_top_words{
    margin-bottom: 3.5rem;
}

.device_pic{
    display: flex;
    justify-content: center;
}

.devices{
    width: 19rem;
}

#section4{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    
   
    
}

#section4_items{
    max-width: 399px;
    
}

#features_companies{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    max-width: 375px;
}

.small_img{
    width: 2.5rem;
}

.feature_header{
    font-size: 1.5rem;
    font-weight: bold;
    color: #4C545C;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature_paragraph{
    font-size: 1rem;
    padding: 0rem 2rem 0rem 2rem;
    text-align: center;
    line-height: 1.5rem;
    color: #9EABB2;
}

.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.tech_company{
    margin-bottom: 3rem;
}


#section5{
    width: 100%;
    /* display: flex;
    justify-content: center; */
    
   
}
.section5_items{
 display: flex;
 flex-direction: column;
 align-items: center;
}


.bottom{
   margin-top: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 2rem;
   padding-top: 2rem;
   background-color: #F2F2F2;
   width: 100%;
   
}

.bottom_logo{
    width: 4rem;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 160px;
}

.links{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #4C545C ;
   
}

.link{
    margin-bottom: 2rem;
}

.bottom_items{
    max-width: 1024px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}


@media screen and (min-width:1024px){
    #top{
        background-image: url('imgs/bg-header-desktop.png');
    
        
     
    }

    .logo{
        width: 9rem;
       
    }

    #top_items{
        max-width: 700px;
       
    }

    .top_text{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    
    }

    .top_text_grey{
        font-size: 1.2rem;
      
    }

    .mobile{
        display: none;
    }

    .buttons{
      
     flex-direction: row;
       
        
    }

    .button_link{

        width: 200px;
     
    
        
        
    }

    .turq{
       margin-bottom: 0rem;
       margin-right: 0.5rem;
       
    }

    .purp{
        margin-left: 0.5rem;
    }

    .img_and_stats{
    
    flex-direction: row;
    position: relative;
    align-items:center;
   
   

}

#section2_items{
    max-width: 1024px;
 align-items: center;
 flex-direction: column;
 display: flex;
}

.section_2_top_words{
    max-width: 700px;
}


.small_section_head{
    font-size: 2.4rem;


}

.small_section_para{
    font-size: 1.1rem;
    padding: 0rem;
 
}



.stat h3{
    font-size: 1.8rem;
   
}

.stat{
 text-align: left;
 margin-left: 6rem;
 margin-right: 2rem;
}



.computer{
    width: 30rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
   
}

.devices{
    width: 37rem ;
}

#section3{
    min-height: 100vh;

   
    
}

#section3_items{
    max-width: 1024px;

}

.section_3_top_words{
    max-width: 800px;
}

.features{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
 
    
}

.companies{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}



br{
    display: none;
}

.bottom{
    margin-top: 10rem;
    align-self: flex-end;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
 }







 .links{
    width: 400px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
 }

 .bottom_items{
     width: 900px;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     
 }

 .end{
     margin-top: 15rem;
 }


}

@media screen and (min-width:1440px){
    #top_items{
        max-width: 800px;
       
    }

    .top_text{
        font-size: 3rem;
    
    }

    .top_text_grey{
        font-size: 1.4rem;
      
    }


    .logo{
        width: 10rem;
       
    }

    .button_link{

        width: 240px;
     
    
        
        
    }

    .turq{
        margin-bottom: 0rem;
        margin-right: 0.8rem;
        
     }
 
     .purp{
         margin-left: 0.8rem;
     }

     #section2_items{
        max-width: 1440px;
     }


     .small_section_head{
        font-size: 2.8rem;
    
    
    }
    
    .small_section_para{
        font-size: 1.3rem;
        padding: 0rem;
     
    }

    .computer{
        width: 47rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        /* position: relative;
        left: -7rem; */
       
    }

    .img_and_stats{
    
      
        align-items:flex-start;
       
       
    
    }


    .stat h3{
        font-size: 1.8rem;
       
    }

    .stat p{
        max-width: 450px;
    }

    #section3_items{
        max-width: 1440px;
    
    }

    .devices{
        width: 50rem;
    }

   
}